/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  font-family: 'Noto Sans', sans-serif;
} */

/* scrollbar লুকানোর জন্য */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE এবং Edge */
  scrollbar-width: none;     /* Firefox */
}
